<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.reach5.identity.sdk.web">

    <application>
        <activity
                android:name="com.reach5.identity.sdk.web.ReachFiveLoginActivity"
                android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>

                <data android:scheme="reachfive"/>
            </intent-filter>
        </activity>
    </application>
</manifest>
